* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	text-align: center;
	padding: 5px;
	margin: 0;
}

.board-border {
	display: inline-block;
	border-style: inset;
	border-width: 1px;
	background-color: beige;
}

.board {
	display: grid;
	padding: 10px;
}

dialog {
	border-style: none;
	border-width: 2px;
	width: 30%;
	left: 35%;
	right: 35%;
}

.easy {
	grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
	grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.moderate {
	grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
	grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.hard {
	grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
	grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.cell,
.flag-cell,
.mystery-cell,
flag-png {
	border-style: outset;
	border-width: 2px;
	background-color: #dcdcdc;
	text-align: center;
}

.boom,
.clear {
	border-style: solid;
	border-width: 1px;
	border-color: #c6c6c6;
}

.boom {
	background-color: #ff0000;
}

.clear {
	background-color: beige;
}

.flag-cell {
	background-size: 28px 28px;
	background-repeat: no-repeat;
	background-image: url('../public/img/flag.png');
}

.flag-png {
	display: block;
	height: 110%;
	margin-left: -2px;
}
